body {
    background-color: #040115;
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
}

.page {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}

.header {
    border-bottom: solid red;
    padding: 8px;
    display: flex;
}

#logo {
    font-size: larger;
    font-weight: bold;
    flex: 1 auto;
    color: #e903e9;
}

#burger {

}

.content {
    display: flex;
    flex: 1 auto;
}

.side {
    border-right: solid red;
    padding: 8px;
    flex: 1 auto;
    color: #e903e9;
}

.sideMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
}

.sideMenuLink {
    flex: 1 auto;
    padding-top: 60px;

}

a:link, a:visited, a:hover, a:active {
    font-weight: bold;
    text-decoration: none;
    color: #e903e9;
}

.main {
    flex: 1 auto;
    padding: 10px;
}

.footer {
    border-top: solid red;
    text-align: center;
    padding: 4px;
}